In [1]:
%load_ext sql
%sql sqlite:///category.db
%sql sqlite:///person.db
%sql sqlite:///bidInfo.db
%sql sqlite:///item.db

'Connected: @category.db'

In [2]:
#1 Find the number of users in the database.
%%sql SELECT COUNT(*) 
FROM person;

 * sqlite:///category.db
Done.

[(1043374545, 'Collectibles'),
 (1043374545, 'Decorative & Holiday'),
 (1043374545, 'Decorative by Brand'),
 (1043374545, 'Christopher Radko')]

In [ ]:
#2 Find the number of users from New York (i.e., users whose location is the string "New York")
%%sql SELECT COUNT(*) 
FROM person
WHERE Location = "New York";

In [ ]:
#3 Find the number of auctions belonging to exactly four categories
%%sql 
SELECT COUNT(*)
FROM (
    SELECT ItemID, COUNT(*) AS "Count"
    FROM bidInfo
    GROUP BY ItemID) AS catCount
WHERE Count = 4;

In [ ]:
#4 Find the ID(s) of auction(s) with the highest current price.
%%sql SELECT ItemID, MAX(CurPrice) 
FROM bidInfo;

In [ ]:
#5 Find the number of sellers whose rating is higher than 1000.
%%sql SELECT COUNT(*) 
FROM person
WHERE IsSeller = 1 AND Rating > 1000;

In [ ]:
#6 Find the number of users who are both sellers and bidders.
%%sql SELECT COUNT(*) 
FROM person
WHERE IsSeller = 1 AND IsBidder = 1;

In [ ]:
#7 Find the number of categories that include at least one item with a bid of more than $100.
%%sql 
SELECT COUNT(*)
FROM (
    SELECT itemID, MAX(Price)
    FROM BidInfo
    WHERE Amount > 100
    GROUP BY ItemID) AS hundredBid,
    category
WHERE category.itemID = hundredBid.itemID
GROUP BY category.type;